<div class="modal">
  <div class="modal-header readonly-data">
    <h3><%= @hierarchy %></h3>
  </div>
  <div class="modal-body readonly-data">
    <p>
      <strong><%= Hierarchy.human_attribute_name 'name' %></strong>:
      <%= @hierarchy.name %>
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to_function t('label.close'), "$('#modal').modal('toggle');",
                         class: 'btn' %>
  </div>
</div>
